# Framework Web
fastapi==0.109.0
uvicorn[standard]==0.27.0
python-multipart==0.0.9

# NLP Japonais (Le cœur du moteur)
sudachipy==0.6.8
sudachidict_core==20230927

# Base de données
sqlalchemy==2.0.25
psycopg2-binary==2.9.9
alembic==1.13.1

# Utilitaires & Config
python-dotenv==1.0.1
pydantic==2.6.0
pydantic-settings==2.1.0
requests==2.31.0
